.vcenter {        
	vertical-align:central;
	margin-top:20%;
	font-style:italic;
}

.prepbootstrap-sharing-container
{
	position: fixed;
	top: 40%;
	left: 0;
	right: auto;
	display: inline-block;
	margin: 0;
	padding: 0;
	z-index: 11100;
	overflow: hidden;
	width: 64px;
}

.prepbootstrap-sharing-container .sharing-item
{
	width: 48px;
	height: 48px;
	text-align: center;
	cursor: pointer;
}
.prepbootstrap-sharing-container .sharing-item:hover
{
	width: 64px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.prepbootstrap-sharing-container .sharing-img
{
	display: inline-block;
	margin: auto;
	margin-top: 8px;
	width: 32px;
	height: 32px;
	background-image: url(../img/sharing32x32.png);
}
.prepbootstrap-sharing-container .sharing-fb
{
	background-color: #305891;
}
.prepbootstrap-sharing-container .sharing-fb .sharing-img
{
	background-position: 0px 0px;
}
.prepbootstrap-sharing-container .sharing-gp
{
	background-color: #CE4D39;
}
.prepbootstrap-sharing-container .sharing-gp .sharing-img
{
	background-position: 0px -32px;
}
.prepbootstrap-sharing-container .sharing-tw
{
	background-color: #2CA8D2
}
.prepbootstrap-sharing-container .sharing-tw .sharing-img
{
	background-position: 0px -64px;
}
.prepbootstrap-sharing-container .sharing-li
{
	background-color: #4498C8;
}
.prepbootstrap-sharing-container .sharing-li .sharing-img
{
	background-position: 0px -96px;
}